
 button{
        
    border: 1px solid #64ffda !important;
    color: #64ffda !important;
    background: transparent !important;       
}
button:hover{
    background-color: #64ffda47 !important;
}